@import "tailwindcss";

@theme {      
   --color-menu: rgba(0, 255, 255, 0.2);
   --color-detail: rgba(127, 255, 255, 0.75);
   --color-red-custom: rgba(239, 48, 34, 1);
   --color-orange-custom: rgba(253, 202, 53, 1);
   --color-green-custom: rgba(58, 159, 72, 1);
   --color-nw-red-neon:rgba(239, 48, 34, 0.357);
   --color-nw-red-side:rgba(239, 48, 34, 0.25);
   --color-nw-orange-neon:rgba(253, 202, 53, 0.357);
   --color-nw-orange-side:rgba(253, 202, 53, 0.25);
   --color-nw-green-neon:rgba(58, 159, 72, 0.357);
   --color-nw-green-side:rgba(58, 159, 72, 0.25);
}

/* Red Net Worth */
.nw-red-shadow{
  box-shadow: rgba(239, 48, 34, 0.75) 0px 0px 12px 0px;
}
.nw-red-hover:hover{
  box-shadow: 0px 0px 12px rgba(239, 48, 34, 1);
  border: 1px solid rgba(239, 48, 34, 0.8);
}

/* orange Net Worth */
.nw-orange-shadow{
  box-shadow: rgba(253, 202, 53, 0.75) 0px 0px 12px 0px;
}
.nw-orange-hover:hover{
  box-shadow: 0px 0px 12px rgba(253, 202, 53, 1);
  border: 1px solid rgba(253, 202, 53, 0.8);
}

/* green Net Worth */
.nw-green-shadow{
  box-shadow: rgba(58, 159, 72, 0.75) 0px 0px 12px 0px;
}
.nw-green-hover:hover{
  box-shadow: 0px 0px 12px rgba(58, 159, 72, 1);
  border: 1px solid rgba(58, 159, 72, 0.8);
}

/*For Redirect Page*/
.custom-box-shadow{
  box-shadow: rgba(0, 255, 255, 0.75) 0px 0px 12px 0px;
}

.on-hover:hover {
        box-shadow: 0px 0px 12px rgba(0, 255, 255, 1);
        border: 1px solid rgba(127, 255, 255, 0.8);
}